{{#if IS_VISIBLE }}
    <label  for="control-{{ ID }}">{{ LABEL }}</label>

    {{#if EDITABLE }}
        <input id="control-{{ ID }}" data-type="date" value="{{ CURRENT_VALUE }}" />
    {{else}}
        {{ CURRENT_VALUE }}
    {{/if}}
{{/if}}
