{{#if IS_VISIBLE }}
<div>
    <label for="control-{{ ID }}">{{ LABEL }}</label>
</div>
<div>
    {{#if EDITABLE }}
        <input id="control-{{ ID }}" data-type="file" type="file" />
    {{else}}
        <span>
            {{{ CURRENT_VALUE }}}
        </span>
    {{/if}}
</div>
    <iframe style="display: none"></iframe>
    <form style="display: none" method="POST" action=""></form>
{{/if}}