<label class="ui-input-text">{{ LABEL }}</label>
<button data-icon="plus" data-role="button" value="Add New {{ LABEL }}" class="amengine-complexitemlist-add" />
<table data-inset="true" data-role="table" data-mode="reflow" class="ui-responsive ui-corner-all">
    <thead>
    <tr class="ui-bar-b">


        <th></th>

        {{#each GRID_VIEW_GRID_DETAILS.GRID_VIEW_COLUMN_LIST}}
            {{#if GRID_VIEW_COLUMN_IS_VISIBLE }}
                <th data-priority="{{ @index }}">{{ GRID_VIEW_COLUMN_NAME }}</th>
            {{/if}}
        {{/each}}
    </tr>
    </thead>
    <tbody>
        {{#each GRID_VIEW_GRID_DETAILS.GRID_VIEW_DATA }}

        <tr class="grid-data-row {{#isOdd @index}}ui-bar-c{{else}}ui-bar-d{{/isOdd}}" data-id="{{ ID }}">

            <td>
                <button data-role="button" value="Open" class="complexitemlist-item"/>
            </td>

            {{#each GRID_VIEW_ROW_CELL_DATA_ARRAY }}
                {{#usearrayindex ../../GRID_VIEW_GRID_DETAILS.GRID_VIEW_COLUMN_LIST index=@index}}
                    {{#if GRID_VIEW_COLUMN_IS_VISIBLE }}
                        <td>
                            {{ ../../this }}
                        </td>
                    {{/if}}
                {{/usearrayindex}}
            {{/each}}
        </tr>
        {{/each}}
    </tbody>
</table>
