{{#if IS_VISIBLE }}
    <div class="error"></div>
    <div>
        <label for="control-{{ ID }}">{{ LABEL }}</label>
    </div>

    <div>
        {{#if EDITABLE }}
            {{#if PROTECTED_TEXT_FIELD }}
                <input data-mini="true" id="control-{{ ID }}" type="password" />
            {{else}}
                {{#ifCond TEXT_BOX_TYPE "===" "TEXT_BOX_TYPE_TEXT_BOX"}}
                    <input data-mini="true" id="control-{{ ID }}" data-type="text" value="{{ CURRENT_VALUE }}" />
                {{else}}
                    <textarea data-mini="true" id="control-{{ ID }}">{{{ CURRENT_VALUE }}}</textarea>
                {{/ifCond}}
            {{/if}}
        {{else}}
            <span>
                {{{ CURRENT_VALUE }}}
            </span>
        {{/if}}
    </div>
{{/if}}